!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/springcloud-kafka-stream1/target/
/springboot-kafka-1/target/
/springcloud-kafka-avro1/mvnw.cmd
/springcloud-kafka-avro1/.gitignore
/springcloud-kafka-avro1/mvnw
/springkafka-server-event1/target/
